:root{ 
    font-size: 62,5%;
    background-color: #f7f7f7;
    --text-primary: #333;
    --text-secondary: #f7f7f7;
    --back-primery:  #9db6cc;
}

*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}


body {
    margin: 0;
    padding: 0;
}


main {
    margin-top: 0rem;
}

h1, h2, h3, h4 {
    margin-bottom: 0rem;
    text-align: center;
    margin: auto;
    color: #333;

}

h1 {
    font-size: 3.0rem;
    max-width: 620px;
    background-color: #3f4246;
    color: var(--text-secondary);
    margin-bottom: 1rem;
}


/* UTILITIES */

.navbar{
    margin-bottom: 1rem;
    width: 100%;
    height: 3rem;
    position: top;
    background-color: #333;
}

.logo{
    color: var(--text-secondary);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-left: 1.0rem;    
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    margin-top: 1.0rem;
    margin-right: 1.0rem;
}

nav ul li a{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-secondary);
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9db6cc;
    max-width: 700px;
    margin: auto;
    border-radius: 0.0rem;    
}

.div1{    
    float:left;
    align-self: baseline;
    margin:5px;
    margin-bottom: 5px;    
}


.label{
    color: #000000;
    font-size: 0.6rem;
    margin-left: 0.5rem;
}


input{
    font-size: 1.0rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;    
    height: 1.8rem;
    border: none;
    border: solid 1px;
    border-radius: 0.3rem;
    outline: none;
}

input[type=text]:focus{
    border: solid 1px dodgerblue;  
    box-shadow: 0px 0px 8px rgb(30, 184, 255);
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    font-weight: bolder;
    color: seashell;
    height: 2.0rem;
    width: 10.0rem;
    margin: 1.2rem;
    text-align: center;
    background-color: dodgerblue;
    border: none;
    border-radius: 1.0rem;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(0, 124, 248);    
    transition-duration: 0.4s;
}

.button:active{
    background-color: rgb(35, 162, 212);
    transition-duration: 0.1s;
}

button{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: bolder;
    color: seashell;
    height: 1.0rem;
    width: 2.0rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: red;
    border: none;
    border-radius: 1.0rem;
}

button:hover{
    cursor: pointer;
    background-color: darkred;
    transition-duration: 0.4s;
}

#liveOrders {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#liveOrders td, #liveOrders th {
    border: 1px solid #ddd;
    padding: 8px;
}

#liveOrders tr:nth-child(even){background-color: var(--back-primery);}

#liveOrders tr:hover {background-color: #ddd;}

#liveOrders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--back-primery);
    color: white;
}



