:root{ 
    font-size: 62.5%;
    background-color: #f7f7f7;
    --text-primary: #333;
    --text-secondary: #f7f7f7;
    --back-primary:#9db6cc;
    --back-secondary: #333;
    --color-option1: rgb(22, 22, 22);
}

*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-weight: lighter;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 3.5rem;
}

nav {
    width: 100%;
    position: fixed;
    background-color: #333;
}

.leftList{
    float: left;
}

.logo{
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0.5rem;
}

.status_d {
    color: red;
    font-style: italic;
    font-size: 0.7rem;
    padding-top: 0.5rem;
}

.status_c {
    color: greenyellow;
}

ul{    
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li{ 
    float: left;
}

ul li a, p{
  display: block;
  color: white;  
  padding: 0.4rem 0.5rem;
  text-decoration: none;
}

ul li:hover{
    font-weight: 600;
    background-color: var(--color-option1);    
}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9db6cc;
    max-width: 80%;
    margin: auto;
    border-radius: 0.0rem;    
}

.div1{    
    float:left;
    align-self: baseline;
    margin:5px;
}

.label{
    color: #000000;
    font-size: 0.6rem;
    margin-left: 0.5rem;
}

input, select{
    font-size: 1.0rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    height: 1.8rem;
    border: solid 1px;
    border-radius: 0.3rem;
    outline: none;
}

input[type=text]:focus{
    border: solid 1px dodgerblue;  
    box-shadow: 0px 0px 8px rgb(30, 184, 255);
}

input[type=text]:focus::placeholder{
    color: transparent;
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    font-weight: bolder;
    color: seashell;
    height: 2.0rem;
    width: 10.0rem;
    margin: 1.2rem;
    text-align: center;
    background-color: dodgerblue;
    border: none;
    border-radius: 1.0rem;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(0, 124, 248);    
    transition-duration: 0.4s;
}

.button:active{
    background-color: rgb(35, 162, 212);
    transition-duration: 0.1s;
}

button{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: bolder;
    color: seashell;
    height: 1.0rem;
    width: 2.0rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: red;
    border: none;
    border-radius: 1.0rem;
}

button:hover{
    cursor: pointer;
    background-color: darkred;
    transition-duration: 0.4s;
}

.myTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.myTable td, .myTable th {
    border: 1px solid #ddd;
    padding-left : 0.5rem;
    padding-right : 0.5rem;
}

.myTable tr:hover {background-color: #ddd;}

.myTable th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
    background-color: var(--back-primary);
    color: white;
}